* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

.start-btn {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(3, 169, 244, 0.9);
}

button {
 position: absolute;
 color: #fff;
 background-color: #f44336;
 border-radius: 5px;
 cursor:pointer;
 width:150px;
 height:40px;
font-size: 20px;
top: 35px;
left: 680px;
text-align: center;

}

.start-btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #f44336;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.info-container {
  width: 1080px;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #f6f6f6;
  border: 2px solid #2196f3;
  font-size: 24px;
  overflow: hidden;
}

.info-container .name {
  float: left;
  width: 50%;
}

.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}

.memory-game {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}

.memory-game.no-clicking {
  pointer-events: none;
}

.memory-game .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}

.memory-game .game-block .front {
  background-color: #333;
  line-height: 200px;
}

.memory-game .game-block .front::before {
  content: "?";
  color: #fff;
  font-size: 140px;
  font-weight: bold;
}
.memory-game .game-block .back {
  background-color: #607d8b;
  transform: rotateY(180deg);
}

.memory-game .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}

.memory-game .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #2196f3;
}

.memory-game .game-block.flipped, .memory-game .game-block.match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
